body {
    text-align: center;
}

a {
    text-decoration: none;
    border: 1px solid #000000;
    padding: 7px 14px;
    border-radius: 10px;
    color: black;
    margin: 12px;
    
}

.botoes {
    margin: 20px 20px;
}