body {
    text-align: center;
}

a {
    text-decoration: none;
    border: 2px solid #000000;
    padding: 7px 14px;
    border-radius: 10px;
    color: black;
    
}

.botoes {
    margin: 40px 15px;
}